/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.navbar-inverse {
	xxxxbackground-color: #1330bf;
}

.jumbotron {
	background-image: url(../img/voa-building-jumbotron.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.jumbotron h1 {
	text-shadow: 0px 0px 2px #ccc;
}

.jumbotron p {
	color: #fff;
}

.teaser-img {
	background-color: gray;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	height: 160px;
	width: 100%;
}

.about-teaser { background-image: url(../img/voa-studio-tvbars.jpg); }
.whattobring-teaser { background-image: url(../img/travel-documents.jpg); }
.directions-teaser { background-image: url(../img/voa-directions.jpg); }



.ui-widget-content {
	background: #ddd;
	border: 0;
}

.ui-slider-horizontal {
	height: 0.4em;
}

.ui-slider-horizontal.ui-slider-pips {
	margin-top: 2em;
	margin-bottom: 4em;
}

.ui-slider-pips .ui-slider-line {
	background-color: #ddd;
	height: 2em;
}

.ui-slider-pips .ui-slider-pip {
	top: -0.75em;
	z-index: -1;
}

.ui-slider-pips .ui-slider-label {
	top: 2.75em;
}

.ui-slider .ui-slider-range {
    background: #1330bf;
}

.ui-slider-horizontal .ui-slider-handle {
	top: -0.45em;
	border-radius: 12px;
	margin-left: -0.5em;
}

.ui-widget-content .ui-state-default {
	background: #fff;
	border: 3px solid #1330bf;
}

.ui-widget-content .ui-state-hover /*,
.ui-widget-content .ui-state-focus*/ {
	background: #1330bf;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { border-bottom-right-radius: 0px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl  { border-bottom-left-radius: 0px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr    { border-top-right-radius: 0px; }
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl     { border-top-left-radius: 0px; }

/* pp addition */

footer {
    margin-top:3em;
    padding-top:3em;
    border-top:1px dotted silver;
}

.carousel-control.right, .carousel-control.left { display: none; visibility: hidden; }
.carousel-indicators { display: none; visibility: hidden; }


/* calendar - unavailable selection days */
.xdsoft_disabled {
    background-color: black !important;
    opacity:0.6 !important;
    cursor: not-allowed !important;
}


/* sm addition for form progress */
#form-progress-bar { margin-bottom: 2em; }

.progress-bar                                { background-color: #ddd; }
.progress-bar-start.progress-bar-complete    { background-color: #8AB1EE; }
.progress-bar-calendar.progress-bar-complete { background-color: #7097D4; }
.progress-bar-people.progress-bar-complete   { background-color: #577EBB; }
.progress-bar-notes.progress-bar-complete    { background-color: #3D64A1; }
.progress-bar-review.progress-bar-complete   { background-color: #244B88; }
.progress-bar-current                        { background-color: #5CB85C; }






	.carousel-inner .item {
	    /*min-height:400px;*/
	    padding-left:5em;
	    padding-right:5em;
	}

	.ui-slider-handle { cursor: pointer }
	.carousel-control { width: 10% }
	.carousel-caption { background-color: gray }

	.carousel-control.right, .carousel-control.left { background: none; display: block; visibility: visible; }
	.carousel-control.right .glyphicon, .carousel-control.left .glyphicon { color: black }

.required {
    font-size: 0.75em;
    color: crimson;
    float: right;
}

#status_reply {
    margin: 0.5em;
    padding: 0.5em;
}





/* styles for calendar in header *********************************************/

.table .reservation-calendar { background: transparent; }

.table .reservation-calendar th {
    background: #ddd;
    color: #666;
    font-weight: 200;
    letter-spacing: .05em;
    text-align: center;
    text-transform: uppercase;
}

.table .reservation-calendar th.tour-table-title {
    background: #fff;
    color: #333;
    font-weight: 400;
}

.table .reservation-calendar td {
    background: rgba(0, 176, 82, .6); /* green */
    color: #fff;
    font-weight: 700;
    min-width: 3.25em;
}

.table .reservation-calendar td .cell-liner { text-align: center; }

.table .reservation-calendar td.nyet,
.table .reservation-calendar td.closed,
.table .reservation-calendar td.full {
    color: #ccc;
    cursor: not-allowed;
    font-weight: 200;
}

.table .reservation-calendar td.nyet,
.table .reservation-calendar td.closed { 
    background: rgba(255, 255, 255, .2); /* almost transparent light gray */
}

.table .reservation-calendar td.full { 
    background: rgba(0, 0, 0, .2); /* almost transparent dark gray */
}

.table .reservation-calendar td.today { color: #ffdc00; /* yellow */ }


@media ( max-width: 420px ) {
    
    .table .reservation-calendar th,
    .table .reservation-calendar td {
        font-size: 90%;
        min-width: 0;
        padding: 6px 4px;
    }
    
}